*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

body {
    margin: 0;
    background-color: #e7e6e3;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0; 
    left: 0;
    background-color:#8c35c5;
    padding-top: 60px;
    transition: 1s;
  }

.button {
    display: block;
    background-color: #8c35c5;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 12pt;
    font-style: normal;
    text-decoration: none;
    color: #f2f3fb;
    border: none;
    box-shadow: 5px 5px 1em rgba(0, 0, 0, 0.3);
    width: min-content;
    height: min-content;
    cursor: grab;
}

.button:hover {
    background-color: #7126a2;
    transition: 228ms;
}

.button:active {
    background-color: #4b1770;
    transition: 228ms;
    cursor: grabbing;
}

.button-light{
    background-color: #eae8e2;
    color: #181818;
}

.button-light:hover{
    background-color: #c5c3be;
}

.button-light:active{
    background-color: #8d8c88;
}

.container {
    width: 75%;
    margin: 0 auto;
}