{% extends 'algorithm_details.html' %}

{% block title %}Муравьиный алгоритм{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/antcolony.css') }}">
{% endblock %}

{% block extra_scripts %}
<script  type="module" src="{{ url_for('static', filename='js/algorithms/antcolony.js') }}"></script>
{% endblock %}


{% block details %}
<div class="t-center">
    <canvas id="paintCanvas" width="900" height="600" style="border: 3px solid #8c35c5; background-color: black;";></canvas>
</div>
<button class = "button" id = "drawColonies">Расположить колонии</button>
<button class = "button" id = "drawWalls">Расположить стены</button>
<button class = "button" id = "drawFood">Расположить источники пищи</button>
<button class = "button button-red" id = "goslingCSS">очистить</button>
{% endblock %}