{% extends 'algorithm_details.html' %}

{% block title %}Муравьиный алгоритм{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/antcolony.css') }}">
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{{ url_for('static', filename='js/algorithms/antcolony.js') }}"></script>
{% endblock %}


{% block visualization %}
<div class="canvas-container">
    <canvas id="canvas" class="field" width="1000" height="750" data-disable="false"></canvas>
</div>
{% endblock %}


{% block controls %}
<span class="block-title">Настройка</span>
<div class="named-input">
    <span class="input-title">Задержка: (<output id= "timeoutlabel"></output>)</span>
    <input id="speed" type="range" step="10" list="volsettings" max="200" value="100" min="0">
</div>
<div class="named-input mt">
    <span class="input-title">Муравьёв: (<output id="antlabel"></output>)</span>
    <input id="antAmount" type="range" step="1" list="volsettings" max="100" value="25" min="1">
</div>
<div class="named-input mt">
    <span class="input-title">Итераций: (<output id="iterationslabel"></output>)</span>
    <input id="iterationsAmount" type="range" step="100" list="volsettings" max="10000" value="1000" min="100">
</div>
<hr>
<div class="buttons-flex">
    <button class="button button-green button-flex" id="goslingCSS">Начать</button>
    <button class="button button-yellow button-flex" id="stop">Приостановить</button>
</div>
<div class="buttons-flex mt">
    <button class="button button-red button-flex" id="clear">Очистить</button>
</div>
{% endblock %}

{% block info %}
Вы расставляете точки на холсте, которые обозначают вершины графа. При запкуске алгоритма "муравьи" начинают пробегать
по вершинам, оставляя феромоны. Вы можете выбрать количество муравьёв, скорость анимации и количество итераций.
{% endblock %}