{% extends 'algorithm_details.html' %}

{% block title %}Поиск A*{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific/astar.css') }}">
{% endblock %}
{% block extra_scripts %}
<script type="module" src="{{ url_for('static', filename='js/algorithms/priorityQueue.js') }}"></script>
<script  type="module" src="{{ url_for('static', filename='js/algorithms/astar.js') }}"></script>
{% endblock %}

{% block visualization %}
<div id="map" class="maze">
</div>
{% endblock %}

{% block controls %}
<div class="mt">
    <span class="block-title">Генератор</span>  
    <span class="input-title">Размер:</span>
    <input id="map-size" type="number" class="w-100" value="9" step="2" min="9" max="29"/><br>
    <span class="input-title">Лабиринт:</span>
    <input id="maze-toggle" type="checkbox" class="w-100"/><br>
</div>
<div class="mt">
    <span class="block-title">Отображение</span>  
    <span class="input-title">Просматриваемые клетки:</span>
    <input id="show-path-toggle" type="checkbox" checked class="w-100"/><br>
    <span class="input-title">Анимации:</span>
    <input id="use-anim-toggle" type="checkbox" checked class="w-100"/><br>
</div>
<hr>
<div class="mt buttons-flex">
    <button id="generate-btn" class="button button-flex">Перегенерировать</button>
    <select id="tool-select" class="button button-green button-flex">
        <option value="0">Установка цели</option>
        <option value="1">Изменение карты</option>
        <option value="2">Установка т. респавна</option>
    </select><br>
</div>
<div class="mt buttons-flex">
    <button id="clear-btn" class="button button-light button-flex">Очистить путь</button>
    <button id="respawn-btn" class="button button-yellow button-flex">Респавн</button>
</div>
{% endblock %}

{% block info %}
Ваш персонаж - оранжевая клетка. Кликните по ячейке и персонаж попробует в неё переместиться. Черные ячейки непроходимы. Розовая ячейка - вспомогательная точка респавна, используйте кнопку "респавн", чтобы мгновенно переместить игрока в неё. Зеленый "dropdown" - выбор инструмента, инструмент применяется на ту клетку, по которой вы кликнули.
<hr> В настройках генератора вы можете выбрать размер карты (квадрат), и включить генерацию лабиринта. В настройках отображения можете включить анимации и отображение просматриваемых алгоритмом клеток, в этом режиме числа в клетке (x, y) показывают значение функции f(x, y).
{% endblock %}


{% block details %}
<p class="mt">
    Поиск A* (произносится «А звезда» или «А стар», от англ. A star) — в информатике и математике, алгоритм поиска по первому наилучшему совпадению на графе, который находит маршрут с наименьшей стоимостью от одной вершины (начальной) к другой (целевой, конечной).
    <br>
    <a href="https://ru.wikipedia.org/wiki/A*" class="link mt" target="_blank">Википедия</a>
</p>
<h1 class="t-center mt">Интерактивное поле экспериментов</h1>
<details>
    <summary>Мануал</summary>
    <p>
        БАЗА
        <br>Ваша клетка (персонаж) отмечена оранжевым цветом. Вы можете выбрать цель, нажав по нужной Вам клетке указателем мыши, и персонаж постарается туда переместиться (по перемещении он останется там). Простроенный путь будет выделен желтым цветом. Чтобы вернуться на точку возрождения (розовая клетка), необходимо нажать желтую кнопку "респавн"
        <br>
        <br> ИНСТРУМЕНТЫ
        <br>Вам предоставлен генератор карты: вы можете сгенерировать карту необходимого Вам размера: пустую или лабиринт. Во втором случае, зелёным цветом отмечается точка, откуда началась генерация, а на месте последней клетки, где алгоритм генерации лабиринта упёрся в тупик, будет поставлена точка возрождения (и персонаж автоматически окажется там)
        <br>Внизу из списка Вы можете выбрать текущий инструмент:
        <br>1. Установка цели для перемещения персонажа (см. пункт БАЗА)
        <br>2. Редактирование карты (помечение проходимых и непроходимых клеток кликом по ним)
        <br>3. Установка точки возрождения (кликом мыши Вы можете пометить клетку как точку возрождения: она окрасится в оранжевый цвет)
        <br>При желании, вы можете включить анимацию построения пути, включить отображение просматриваемых клеток (синий цвет, числа означают эвристическое расстояние до цели (значение f(x,y))), а так же очистить простроенный путь путём нажатия на кнопку очистки пути снизу
    </p>
</details>
<div class="astar-demo">
    <div class="mt">
        <span class="input-title">Размер сетки:</span>
        <input id="map-size" type="number" class="w-100" value="9" step="2" min="9" max="29"/><br>
        <span class="input-title">Генерировать лабиринт:</span>
        <input id="maze-toggle" type="checkbox" class="w-100"/><br>
        <button id="generate-btn" class="button mt">Применить</button><br>
    </div>
    <div class="mt">
        <span class="input-title">Отображать просматриваемые клетки:</span>
        <input id="show-path-toggle" type="checkbox" checked class="w-100"/><br>
        <span class="input-title">Включить анимацию:</span>
        <input id="use-anim-toggle" type="checkbox" checked class="w-100"/><br>
    </div>
    <hr>
    <div id="map" class="mt"></div>
    <div class="mt">
        <select id="tool-select" class="button button-green">
            <option value="0">Установка цели</option>
            <option value="1">Изменение карты</option>
            <option value="2">Установка т. респавна</option>
        </select>
        <button id="clear-btn" class="button button-light">Очистить путь</button>
        <button id="respawn-btn" class="button button-yellow">Респавн</button><br>
    </div>
</div>
{% endblock %}
