{% extends 'algorithm_details.html' %}

{% block title %}Алгоритм кластеризации{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific/clusterization.css') }}">
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{{ url_for('static', filename='js/algorithms/clusterization.js') }}"></script>
{% endblock %}

{% block visualization %}
<div class="t-center">
    <canvas id="paintCanvas" width="952" height="610" style="background-color: white" ;></canvas>
</div>
{% endblock %}

{% block controls %}
<div class="mt">
    <span class="input-title">Количество кластеров:</span>
    <input id="clustersAmount" type="number" class="w-100" value="3" step="1" min="1" max="100" />
    <button class="button" style="width: 100%;" id="kMeansActivate">Метод К-средних</button><br><br>
    <button class="button" style="width: 100%;" id="hierarchicalActivate">Иерархический</button><br><br>
    <button class="button" style="width: 100%;" id="kMedoidsActivate">k-medoid</button><br><br>
    <button class="button button-red" style="width: 100%;" id="goslingCSS">очистить</button>
</div>


{% endblock %}

{% block info %}
Вы расставляете точки на холсте, затем алгоритм распределяет эти точки по кластерам. Доступно 3 алгоритма:
К-средних(верхняя часть точки), иерархический(средняя) и К-медоид(нижняя). Также есть возможность выбрать на какое
количество кластеров вы хотите распределить точки. Количество кластеров не может больше количества точек.
{% endblock %}