{% extends 'algorithm_details.html' %}

{% block title %}Алгоритм кластеризации{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific/clusterization.css') }}">
{% endblock %}

{% block extra_scripts %}
<script  type="module" src="{{ url_for('static', filename='js/algorithms/clusterization.js') }}"></script>
{% endblock %}

{% block details %}
<p class="mt">
     Кластеризация (англ. cluster analysis) — задача группировки множества объектов на подмножества (кластеры) таким образом, чтобы объекты из одного кластера были более похожи друг на друга, чем на объекты из других кластеров по какому-либо критерию.
    <br>
    <a href="https://neerc.ifmo.ru/wiki/index.php?title=%D0%9A%D0%BB%D0%B0%D1%81%D1%82%D0%B5%D1%80%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F" class="link mt" target="_blank">Викиконспекты</a>
</p>
<div class="t-center">
    <canvas id="paintCanvas" width="1000" height="500" style="border: 1px solid black; background-color: white;";></canvas>
</div>
<div class="t-center">
    <input id="clustersAmount" type="number" class="w-100" value="3" step="1" min="1" max="100"/>
    <button class = "button" id = "kMeansActivate">Метод К-средних</button>
    <button class = "button" id = "hierarchicalActivate">Иерархический</button>
    <button class = "button" id = "kMedoidsActivate">k-medoid</button>
    <button class = "button button-red" id = "goslingCSS">очистить</button>
</div>


{% endblock %}