{% extends 'algorithm_details.html' %}

{% block title %}Алгоритм кластеризации{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific/clusterization.css') }}">
{% endblock %}

{% block extra_scripts %}
<script  type="module" src="{{ url_for('static', filename='js/algorithms/drawing.js') }}"></script>
<script  type="module" src="{{ url_for('static', filename='js/algorithms/clusterization.js') }}"></script>
{% endblock %}

{% block details %}
<div class="t-center">
<canvas id="paintCanvas" width="400" height="400" style="border: 1px solid black; background-color: white;";></canvas>
</div>
<button onclick="startPainting()">Начать рисование</button>
<button onclick="stopPainting()">Закончить рисование</button>

{% endblock %}