{% extends 'algorithm_details.html' %}

{% block title %}Генетический алгоритм на примере задачи коммивояжёра{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific/gen.css') }}">
{% endblock %}
{% block extra_scripts %}
<script  type="module" src="{{ url_for('static', filename='js/algorithms/gen.js') }}"></script>
{% endblock %}

{% block visualization %}
<div class="canvas-container">
    <canvas id="canvas" class="field" width="1000" height="750" data-disable="false"></canvas>
</div>
{% endblock %}

{% block controls %}
<div class="controller">
    <div class="constantsOfGraph">
        <span id="numVertexes">Количество вершин: </span>
        <span id="numEdges">Количество ребер: </span>
    </div>
    <div class="states">
        <span id="stateWorking">Состояние алгоритма: <br>спит</span>
        <span id="stateBest">Лучшая дистанция: </span>
    </div>
    <div class="controlparams">
        <label for="mutationrate">Шанс мутации: <output id="mutationlabel"></output></label>
        <input type="range" id="mutationrate" name="mutationrate" min="0" max="1" value="0.5" step="0.01" />
        <label for="gensize">Размер поколения: <output id="gensizelabel"></output></label>
        <input type="range" id="gensize" name="gensize" min="10" max="5000" value="100" step="5" />
        <label for="stopsize">Количество плохих поколений для остановки: <output id="stopsizelabel"></output></label>
        <input type="range" id="stopsize" name="stopsize" min="10" max="1000" value="300" step="1" />
    </div>
    <div class="controlbutttons">
        <button id="start" class="button button-green">Начать</button>
        <button id="stop" class="button button-yellow">Приостановить</button>
        <button id="reset" class="button button-red">Очистить все</button>
    </div>
</div>
{% endblock %}

{% block info %}
<div class="constantsAlgoritm">
    <span>Частота мутации: 0.5</span>
    <span>Количество особей в поколении: количество точек * 2</span>
</div>
{% endblock %}




