{% extends 'algorithm_details.html' %}

{% block title %}Генетический алгоритм на примере задачи коммивояжёра{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific/gen.css') }}">
{% endblock %}
{% block extra_scripts %}
<script  type="module" src="{{ url_for('static', filename='js/algorithms/gen.js') }}"></script>
{% endblock %}

{% block visualization %}
<div class="canvas-container">
    <canvas id="canvas" class="field" width="1000" height="750" data-disable="false"></canvas>
</div>
{% endblock %}

{% block controls %}
<div class="">
    <span class="block-title">Настройка</span>
    <div class="">
        <label for="mutationrate" class="input-title">Шанс мутации: </label>
        <div class="named-input">
            <input type="range" id="mutationrate" name="mutationrate" min="0" max="1" value="0.5" step="0.01" />
            <span class="input-title">(<output id="mutationlabel"></output>)</span>
        </div>
        
    </div>
    <div class="mt">
        <label for="gensize" class="input-title">Размер поколения:</label>
        <div class="named-input">
            <input type="range" id="gensize" name="gensize" min="10" max="5000" value="100" step="5" />
            <span class="input-title">(<output id="gensizelabel"></output>)</span>
        </div>
    </div>
    <div class="mt">
        <label for="stopsize" class="input-title">Количество плохих поколений для остановки:</label>
        <div class="named-input">
            <input type="range" id="stopsize" name="stopsize" min="10" max="1000" value="300" step="1" />
            <span class="input-title">(<output id="stopsizelabel"></output>)</span>
        </div>
    </div>
</div>
<hr>
<div class="mt">
    <span class="block-title">Состояние</span>
    <div class="states">
        <span class="input-title" id="numVertexes">Количество вершин: </span>
        <span class="input-title" id="numEdges">Количество ребер: </span>
    </div>
    <div class="states">
        <span class="input-title" id="stateWorking">Состояние алгоритма: <br>спит</span>
        <span class="input-title" id="stateBest">Лучшая дистанция: </span>
    </div>
</div>
<hr>
<div class="buttons-flex">
    <button id="start" class="button button-green button-flex">Начать</button>
    <button id="stop" class="button button-yellow button-flex">Приостановить</button>
</div>
<div class="buttons-flex mt">
    <button id="reset" class="button button-red button-flex">Очистить</button>
</div>
{% endblock %}

{% block info %}
<div class="constantsAlgoritm">
    <span>Частота мутации: 0.5</span>
    <span>Количество особей в поколении: количество точек * 2</span>
</div>
{% endblock %}




