{% extends 'base.html' %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific/homepage.css') }}">
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}


{% block content %}
<div class="background">
  <div class="drawing-content">
<h1>Интересные алгоритмы</h1>
<span class="additional">
  *Используйте боковую панель для навигации по сайту
</span>
<ul>
    <!--<li>
        <a href="{{ url_for('index') }}">
          <span>На главную</span>
      </a>
    </li>-->
    <li>
      <a href="{{ url_for('algorithm_details', name='astar') }}">
          <span>A* (A-star)</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('algorithm_details', name='clusterization') }}">
        <span>Кластеризация</span>
    </a>
  </li>
    <li>
      <a href="{{ url_for('algorithm_details', name='genetic') }}">
        <span>Генетический алгоритм</span>
    </a>
  </li>
    <li>
      <a href="{{ url_for('algorithm_details', name='antcolony') }}">
        <span>Муравьиный алгоритм</span>
    </a>
  </li>
    <li>
      <a href="{{ url_for('algorithm_details', name='slntree') }}">
        <span>Дерево решений</span>
    </a>
  </li>
    <li>
      <a href="{{ url_for('algorithm_details', name='nn') }}">
        <span>Нейронная сеть</span>
    </a>
  </li>
</ul>
</div>
</div>
{% endblock %}