{% extends 'algorithm_details.html' %}

{% block title %}Нейронная сеть{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons') }}">
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{{ url_for('static', filename='js/algorithms/canvasDrawing.js') }}"></script>
{% endblock %}

{% block visualization %}
<div class="canvas-container">
    <canvas class="field" id="canvas" width="500" height="500"></canvas>
</div>
{% endblock %}

{% block controls %}
<span class="block-title">Состояние</span>
<span class="input-title">Результат: </span><span id="output">&lt;ничего&gt;</span></span>
<hr>
<div class="buttons-flex">
    <button id="get" class="calculate button button-green button-flex">Распознать</button>
    <button id="clear" class="button button-red button-flex">Очистить</button>
</div>
{% endblock %}


{% block info %}
Нарисуйте на полотне цифру и нажмите зелёную кнопку. Нейросеть попробует распознать то, что вы нарисовали. Результат работы нейросети можно увидеть в разделе "состояние".
{% endblock %}
