{% extends 'algorithm_details.html' %}

{% block title %}Дерево решений{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific/slntree.css') }}">
{% endblock %}


{% block visualization %}
<!-- src https://codepen.io/rahmatrudianto/pen/VwXEQZo -->
<div class="tree-block">
  <div class="tree" id="decision-tree-parent"></div>
</div>
{% endblock %}

{% block controls %}
    <div class="mt">
      <span class="input-title">Названия характеристик</span>
      <input id="tr_columns" style="width: 100%;" />
    </div>
    <div class="mt">
      <span class="input-title">Содержание</span>
      <textarea id="tr_data"></textarea>
    </div>
    <hr>
    <div class="mt">
      <span class="input-title">Искомая характеристика</span>
      <input id="cfg_column" style="width: 100%;" />
    </div>
    <div class="mt">
      <span class="input-title">Игнорируемые характеристики</span>
      <input id="cfg_ignore_columns" style="width: 100%;" />
    </div>
    <div class="mt">
      <button class="button button-green" id="generate"  style="width: 100%;">Построить дерево</button>
    </div>
    <hr>
    <div class="mt">
      <span class="input-title">Известные данные (если данных нет, "-")</span>
      <input id="decision_info" style="width: 100%;" />
    </div>
    <div class="mt">
      <button class="button button-green"  style="width: 100%;" id="decide">Вынести вердикт</button>
    </div>
{% endblock %}

{% block info %}
Заполните обучающую выборку необходмыми данными в формате CSV (разделитель - точка с запятой";"), затем, всё в том же формате, укажите характеристику для поиска и игнорируемые при поиске характеристики. После, вы можете построить дерево, нажав соответствующую кнопку.
<hr>
В специальном поле вы можете указать известные вам данные для принятия решения по дереву на основе обучающей выборки. Если какие-то из данных, например, искомая характеристика, вам не известна, поставьте на её место прочерк (знак минус "-"). По нажатии кнопки выноса вердикта на дереве будет показан процесс принятия решения желтым цветом, а жёлтый "листок" дерева - и будет вынесенным вердиктом.
{% endblock %}

{% block extra_scripts %}
<script  type="text/javascript" src="{{ url_for('static', filename='js/algorithms/slntree.js') }}"></script>
{% endblock %}