
.button {
    display: inline-block;
    background-color:rgb(43, 106, 188);
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 12pt;
    font-style: normal;
    text-decoration: none;
    color: #f2f3fb;
    border: none;
    box-shadow: 5px 5px 1em rgba(0, 0, 0, 0.3);
    width: min-content;
    height: min-content;
    text-wrap: nowrap;
    cursor: pointer;
}

.button:disabled{
    opacity: 0.5;
}


.button:hover{
    background: rgb(32, 79, 139);
    transition: 228ms;
}

.button:active {
    background: rgb(22, 52, 93);
    transition: 228ms;
}

.button-light{
    background: #eae8e2;
    color: #181818;
}

.button-light:hover{
    background: #d4d2cd;
}


.button-light:active{
    background: #c3c2bd;
}

.button-green{
    background: #30d91a;
}

.button-green:hover{
    background: #26d10f;
}

.button-green:active{
    background: #199708;
}

.button-red{
    background: #b41111;
}

.button-red:hover{
    background: #a51010;
}

.button-red:active{
    background: #8f0d0d;
}

.button-yellow{
    background: #d0af0a;
}

.button-yellow:hover{
    background: #bebb09;
}

.button-yellow:active{
    background: #aaa708;
}

.buttons-block{
    display: block;
    width: 100%;
}