*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

html {   
    height: 100%;
    cursor: grab;
}

body {
    margin: 0;
    background-color: #e7e6e3;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
}

.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0; 
    left: 0;
    overflow-x: hidden;
    background-color:#8c35c5;
    padding-top: 40px;
    transition: 0.5s;
}

.side-bar a{
    display:block;
    padding: 10px 10px 10px 50px;
    font-size: 18px;
    color: #C0C0C0;
    border: none;
    background-color: transparent;
    text-wrap: nowrap;
    text-decoration: none;
}

.side-bar a:hover{
    color: #fff;
}

.side-bar button.close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    background-color: transparent;
    display:block;
    border: none;
    color: #C0C0C0;
    cursor: pointer;
}

.side-bar button.close-button:hover{
    color: #fff;
}


.button {
    display: inline-block;
    background: #8c35c5;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 12pt;
    font-style: normal;
    text-decoration: none;
    color: #f2f3fb;
    border: none;
    box-shadow: 5px 5px 1em rgba(0, 0, 0, 0.3);
    width: min-content;
    height: min-content;
    text-wrap: nowrap;
    cursor: grab;
}

.open-button{
    width: 60px;
    height:60px;
    border-radius: 0px;
    padding: 0;
    font-size: 30px;
    float: left;
}

.button:hover{
    background: #7c2faf;
    transition: 228ms;
}

.button:active {
    background: #6f2a9d;
    transition: 228ms;
    cursor: grabbing;
}

.button-light{
    background: #eae8e2;
    color: #181818;
}

.button-light:hover{
    background: #d4d2cd;
}


.button-light:active{
    background: #c3c2bd;
}

.button-green{
    background: #11b417;
}

.button-green:hover{
    background: #0e9913;
}

.button-green:active{
    background: #0d8a11;
}

.button-red{
    background: #b41111;
}

.button-red:hover{
    background: #a51010;
}

.button-red:active{
    background: #8f0d0d;
}

.button-yellow{
    background: #d0cd0a;
}

.button-yellow:hover{
    background: #bebb09;
}

.button-yellow:active{
    background: #aaa708;
}

.container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    display: block;
}

.v-padding-block{
    padding: 15pt;
}

.page-topper{
    display: block;
    width: 100%;
    height: calc(min(min-content, 100px));
    background-color: #a03ae4;
    padding: 5pt;
    color: white;
    top: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
} 

p {
    padding: 10pt;
    background: rgba(253, 232, 255, 0.575);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.t-center{
    text-align: center;
}

.buttons-block{
    display: block;
    width: 100%;
}

.mt{
    margin-top: 10px;
}

table td {
    border: solid 1px rgba(0, 0, 0, 0.3);
}

table {
    border-collapse: collapse;
}

.astar-demo{
    width: 50%;
    margin: auto;
}

.astar-demo table{
    width: 100%;
    aspect-ratio: 1;
}

.astar-demo table td {
    text-align: center;
    background-color: #c0c0c07c;
}

.astar-demo table td:hover {
    background-color: #b7b1b6a8;
    transition: 100ms ease-out;
}