<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Приветствуем!{% endblock %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        {% block extra_styles %}{% endblock %}
    </head>
    <body>

        <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
        <!--TODO: add icons-->

        {% block content %}{% endblock %}
        <div id="side-nav" class="side-bar">
            <a onclick="closeSideBar()" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='res/icons/home.png')}}"></img>
                <span>На главную</span>
            </a>
            <a onclick="closeSideBar()" href="{{ url_for('algorithm_details', name='astar') }}">
                <img src="{{ url_for('static', filename='res/icons/star.png')}}"></img>
                <span>A* (A-star)</span>
            </a>
            <a onclick="closeSideBar()" href="{{ url_for('algorithm_details', name='clusterization') }}">
                <img src="{{ url_for('static', filename='res/icons/cluster.png')}}"></img>
                <span>Кластеризация</span>
            </a>
            <a onclick="closeSideBar()" href="{{ url_for('algorithm_details', name='genetic') }}">
                <img src="{{ url_for('static', filename='res/icons/dna.png')}}"></img>
                <span>Генетический алгоритм</span>
            </a>
            <a onclick="closeSideBar()" href="{{ url_for('algorithm_details', name='antcolony') }}">
                <img src="{{ url_for('static', filename='res/icons/insect.png')}}"></img>
                <span>Муравьиный алгоритм</span>
            </a>
            <a onclick="closeSideBar()" href="{{ url_for('algorithm_details', name='slntree') }}">
                <img src="{{ url_for('static', filename='res/icons/decision-tree.png')}}"></img>
                <span>Дерево решений</span>
            </a>
            <a onclick="closeSideBar()" href="{{ url_for('algorithm_details', name='nn') }}">
                <img src="{{ url_for('static', filename='res/icons/neural-network.png')}}"></img>
                <span>Нейронная сеть</span>
            </a>
        </div>
        
        <script src="{{ url_for('static', filename='js/sideBar.js') }}"></script>
        {% block extra_scripts %}{% endblock %}
     </body>
</html>
