
.tparent {
    height: 100%;
    aspect-ratio: 1;
}

.maze {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;

    border-collapse: collapse;

    height: calc(100% - 2rem);
    width: auto;
    aspect-ratio: 1;
    margin: auto;

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.maze > div {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-content: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.maze:last-child {
    border-bottom: 1px solid black;
}

/* cell */
.maze > div > div {
    display: flex;
    flex: auto;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    justify-content: center;

    max-height: auto;

    border-right: 1px solid black;
    background-color: #a6d3de;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    color: transparent;
}

.maze > div > div:hover {
    background-color: #617a81;
    transition: 100ms ease-out;
}

.maze > div > div.blocked {
    background-color: #000000;
    cursor:not-allowed;
}
.maze > div > div.seen {
    background-color: #2b5e85;
    padding: 0;
    color: #000000;
}
.maze > div > div.visited {
    background-color: #bebe2a;
}
.maze > div > div.spawn {
    background-color: #c512cb;
}
.maze > div > div.finish {
    background-color: #15b415;
}
.maze > div > div.current {
    background-color: #cd8227;
}
