.orangeSquare {
    list-style-type: square;
    color: orange;
}

.redSquare {
    list-style-type: square;
    color: red;
}

.greenSquare {
    list-style-type: square;
    color: green;
}

.blueSquare {
    list-style-type: square;
    color: blue;
}

.yellowSquare {
    list-style-type: square;
    color: yellow;
}

.pinkSquare {
    list-style-type: square;
    color: pink;
}

.mistyRoseSquare {
    list-style-type: square;
    color: MistyRose;
}

.cyanSquare {
    list-style-type: square;
    color: cyan;
}

.magentaSquare {
    list-style-type: square;
    color: magenta;
}