.tree{
  display: inline-block;
  width: min-content;
}

.tree ul {
    padding-top: 20px; 
    position: relative;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

.tree li::before, .tree li::after{
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 2px solid #6f2a9d;
    width: 50%; 
    height: 18px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 2px solid #6f2a9d;
}
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}
.tree li:only-child{ 
    padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
.tree li:last-child::before{
    border-right: 2px solid #6f2a9d;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
}
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #6f2a9d;
    width: 0; height: 20px;
}
.tree li .button{
    display: inline-block;
}
/*
.tree li button.current+ul li:has(.current)::after, 
.tree li button.current+ul li:has(.current)::before,
.tree li button.current+ul:has(.current)::before, 
.tree li button.current+ul ul:has(.current)::before{
    border-color:  #fbba00;
}*/

.tree-block{
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto; 
    text-align: center;
}

.current {
    background-color: #dcd50f;
    color: black;
    transition: ease-in-out 0.5s;
}